pc-programs/backup/pacote20071220_text_com_referencias/xml_scielo/proc/schema/schema_SciELO_export.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XML Spy v4.3 (http://www.xmlspy.com) by chris (bireme) -->
<!--W3C Schema generated by XML Spy v4.3 (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="abstract">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="accepted">
		<xs:complexType/>
	</xs:element>
	<xs:element name="accepted_dateiso">
		<xs:complexType/>
	</xs:element>
	<xs:element name="affiliation">
		<xs:complexType/>
	</xs:element>
	<xs:element name="aheadofprint">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="analytic_author">
		<xs:complexType/>
	</xs:element>
	<xs:element name="article_language">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="article_order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="article_order_pii">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="article_title">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="center_process_code">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="class_of_record">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="conference_city_state">
		<xs:complexType/>
	</xs:element>
	<xs:element name="conference_country">
		<xs:complexType/>
	</xs:element>
	<xs:element name="conference_date">
		<xs:complexType/>
	</xs:element>
	<xs:element name="conference_dateiso">
		<xs:complexType/>
	</xs:element>
	<xs:element name="conference_name">
		<xs:complexType/>
	</xs:element>
	<xs:element name="conference_sponsor">
		<xs:complexType/>
	</xs:element>
	<xs:element name="contract">
		<xs:complexType/>
	</xs:element>
	<xs:element name="controler">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="corporate_autor">
		<xs:complexType/>
	</xs:element>
	<xs:element name="data_base_name">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="degree_of_dissertation">
		<xs:complexType/>
	</xs:element>
	<xs:element name="doc_status">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="document_type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="dtd_version">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="file_name">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="id_counter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="id_pii">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="index_counter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="issn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="issn_ano_order">
		<xs:complexType/>
	</xs:element>
	<xs:element name="issue_no">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="journal_title">
		<xs:complexType/>
	</xs:element>
	<xs:element name="keyword">
		<xs:complexType/>
	</xs:element>
	<xs:element name="literature">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="occ">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="lang" type="xs:string"/>
					<xs:attribute name="first">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="338"/>
								<xs:enumeration value="340"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="last">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="339"/>
								<xs:enumeration value="345"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="project_name">
		<xs:complexType/>
	</xs:element>
	<xs:element name="project_sponsor">
		<xs:complexType/>
	</xs:element>
	<xs:element name="provide_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publication_city_state">
		<xs:complexType/>
	</xs:element>
	<xs:element name="publication_country">
		<xs:complexType/>
	</xs:element>
	<xs:element name="publisher_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher_item_identifier">
		<xs:complexType/>
	</xs:element>
	<xs:element name="publisher_name">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publishing_date">
		<xs:complexType/>
	</xs:element>
	<xs:element name="publishing_dateiso">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="received_data">
		<xs:complexType/>
	</xs:element>
	<xs:element name="received_dateiso">
		<xs:complexType/>
	</xs:element>
	<xs:element name="record">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="center_process_code"/>
				<xs:element ref="publisher_id"/>
				<xs:element ref="data_base_name"/>
				<xs:element ref="provide_id"/>
				<xs:element ref="analytic_author"/>
				<xs:element ref="corporate_autor"/>
				<xs:element ref="title"/>
				<xs:element ref="pages"/>
				<xs:element ref="article_title"/>
				<xs:element ref="volume_id"/>
				<xs:element ref="issue_no"/>
				<xs:element ref="issn"/>
				<xs:element ref="id"/>
				<xs:element ref="id_pii"/>
				<xs:element ref="type"/>
				<xs:element ref="article_language"/>
				<xs:element ref="doc_status"/>
				<xs:element ref="thesis_date"/>
				<xs:element ref="thesis_dateiso"/>
				<xs:element ref="thesis_city_state"/>
				<xs:element ref="thesis_country"/>
				<xs:element ref="thesis_author"/>
				<xs:element ref="section_code"/>
				<xs:element ref="degree_of_dissertation"/>
				<xs:element ref="conference_sponsor"/>
				<xs:element ref="conference_name"/>
				<xs:element ref="conference_date"/>
				<xs:element ref="conference_dateiso"/>
				<xs:element ref="conference_city_state"/>
				<xs:element ref="conference_country"/>
				<xs:element ref="project_sponsor"/>
				<xs:element ref="project_name"/>
				<xs:element ref="contract"/>
				<xs:element ref="publishing_date"/>
				<xs:element ref="publishing_dateiso"/>
				<xs:element ref="publication_city_state"/>
				<xs:element ref="publication_country"/>
				<xs:element ref="affiliation"/>
				<xs:element ref="document_type"/>
				<xs:element ref="refenrence_count"/>
				<xs:element ref="abstract"/>
				<xs:element ref="keyword"/>
				<xs:element ref="aheadofprint"/>
				<xs:element ref="received_data"/>
				<xs:element ref="received_dateiso"/>
				<xs:element ref="accepted"/>
				<xs:element ref="accepted_dateiso"/>
				<xs:element ref="reviced_data"/>
				<xs:element ref="revised_dateiso"/>
				<xs:element ref="standard"/>
				<xs:element ref="dtd_version"/>
				<xs:element ref="article_order"/>
				<xs:element ref="article_order_pii"/>
				<xs:element ref="controler"/>
				<xs:element ref="sponsor_of_publication"/>
				<xs:element ref="publisher_name"/>
				<xs:element ref="id_counter"/>
				<xs:element ref="index_counter"/>
				<xs:element ref="file_name"/>
				<xs:element ref="literature"/>
				<xs:element ref="class_of_record"/>
				<xs:element ref="total_of_class"/>
				<xs:element ref="publisher_item_identifier"/>
				<xs:element ref="volumes"/>
				<xs:element ref="journal_title"/>
				<xs:element ref="issn_ano_order"/>
			</xs:sequence>
			<xs:attribute name="mfn" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="4422"/>
						<xs:enumeration value="4468"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="refenrence_count">
		<xs:complexType/>
	</xs:element>
	<xs:element name="reviced_data">
		<xs:complexType/>
	</xs:element>
	<xs:element name="revised_dateiso">
		<xs:complexType/>
	</xs:element>
	<xs:element name="section_code">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sponsor_of_publication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="standard">
		<xs:complexType/>
	</xs:element>
	<xs:element name="thesis_author">
		<xs:complexType/>
	</xs:element>
	<xs:element name="thesis_city_state">
		<xs:complexType/>
	</xs:element>
	<xs:element name="thesis_country">
		<xs:complexType/>
	</xs:element>
	<xs:element name="thesis_date">
		<xs:complexType/>
	</xs:element>
	<xs:element name="thesis_dateiso">
		<xs:complexType/>
	</xs:element>
	<xs:element name="title">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="total_of_class">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="volume_id">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="occ"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="volumes">
		<xs:complexType/>
	</xs:element>
	<xs:element name="xml_scielo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="record" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
