www/proc/scielo_crs/xsd/crossref4.1.0.xsd.true

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.crossref.org/schema/4.1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.crossref.org/schema/4.1.0">
	<!--Conforms to w3c http://www.w3.org/2001/XMLSchema-->
	<!-- =============================================================

                          Introduction

     CrossRef W3C Deposit Schema Version 4.1.0
     for Journal, book and conferernce submissions

     Developed for CrossRef (www.crossref.org) by

     Inera Incorporated
     Newton, MA 02460
     http://www.inera.com
     email: info@inera.com

     Last Updated April 13, 2006
     (c) 2001-2006 PILA, Inc. All Rights Reserved.

    For more information on the use of this DTD, see 
    "CrossRef Schema Documentation 4.1.0.pdf". Also available are sample 
    files journal410.xml, book410.xml, book410-2.xml, conf410.xml, 
    stand_alone410.xml, dissertation410.xml, standard410.xml, report410.xml,
    paper410.xml, database410.xml, and database410-2.xml
    
    Document analysis and publisher surveys used to build this schema 
    are available on request from CrossRef.

     ============================================================= -->
	<!-- =============================================================

                          File Organization

     This schema is organized into the following sections:
     0. Include module common to multiple CrossRef schemas
     1. Shared attributes
     2. Schema-specific data types
     3. Header Elements
     4. Journal elements
     5. Conference elements
     6. Book elements
     7. Elements common to books and conferences
     8. Elements common to journals, books and conferences
     9. Expanded Content Types (reports, dissertations and standards)
    10. Elements common to reports, dissertations and standards

     ============================================================= -->
	<!-- =============================================================

                          Change History

    Changes record version, author initials, date, and comments

    4.1.0 (CSK/BDR) 4/13/06  Added elements for database deposits;

    4.0.1 (CSK/BDR) 2/6/06,  3/23/06
    Added citation_list to all deposit types, expanded from journal 
        articles only
    Changed abbrev_title so that it is optional. full_title is still required
    Changed full_title to allow up to 10 names for a journal
    Added citation_list to conference_paper, book_metadata, content_item,
        dissertation, report-paper_metadata, standard_metadata
          (BDR) 4/6/06
    Added approval_date to report-paper_metadata as optional element
    Added report-number has an attribute to identifier to indicate report
        numbers that use non-standard identification schemes

    4.0.0 (BDR) 6/7/05

    Extended schema to support expanded content types for dissertations,
    reports, working papers, and standards

    3.0.3 (CSK) 7/20/04

    Added the <component> element to the common include file and to the <journal_article>,
    <conference_paper> and <content_item> elements to allow the deposit of component
    DOIs on their own or as parts of the three higher level entities. Also added 
    <sa_component> which identifies a parent DOI that may already exist (e.g. created 
    in an earlier deposit or via some other registration process). 

    3.0.2 (CSK) 7/16/04

    Extensively modified collection element to fit multiple resolution pilot/demo. Added <doi> to the
    possible elements in <item>

    Moved elments resource,item,collection,property_t and property from the
    main schema file to include file (common1.0.2.xsd) to faciliate creating a schema
    for the deposit of only multiple resolution data.

    3.0.1 (CSK)  4/12/04
 
    Increased version number to reflect changes made in the common file.
 
    3.0.0 (BDR) 11/05/03 (CSK) 12/19/03

    Added citation_list element to support deposits of reference lists in journal
    articles for forward linking

    Separated common elements for reuse in other CrossRef schemas into common.xsd
 
    2.0.7 (HS) Made DOI and contributors elements under book_metadata optional (to accommodate Elsevier)

    2.0.6.1 (CSK) set min values to zero for <conference_date> and <conference_location> under
                  the <event_metadata> record

    2.0.5.2 (CSK) 9/02/03 changed the datatype for DOI and RESOURCE back to String from anyURI

    2.0.5.1 (CSK) 3/19/03 increased number of allowed contributors to "unbounded"

    2.0.5 (CSK) 10/04/02 minor change, fully backward compatible

    Modifed xrefMonth maxInclusive value to "34" to allow extended definitions

    2.0.5 (BDR) 05/02/02

    Brought into full conformance with Xerces 2.0

    2.0.4 (BDR) 02/25/02

    Changed default name space declaration and brought into full
    conformance with XML Spy 4.3

    2.0.3 (BDR) 01/18/02

    Changed item_data to resource and property where resource is the 
    container for a URI related to a DOI and property elements 
    qualify the resource or collection to which    they're applied.

    Changed data type of DOI from string to xsd:anyURI

    Changed the relationship of item and collection.

    2.0.2 (BDR) 01/15/02

    Tightened validation of ISBN and ISSN instances

    Changed item_number maxLength from 15 to 32, added an
    attribute for item_number_type, and changed publisher_item
    to allow up to three item_number elements.

    Added face markup to title, original_language_title, and subtitle
    elements. This addition allows basic face markup in titles for
    those disciplines (e.g. in genetics, mathematics) where lack of 
    face markup can result in ambiguous interpretation.

    Increased DOI maxLength from 255 to 2048 characters

    Changed the doi_data model from url to collection, item and item_data
    to allow future expansion for multiple resolution. WARNING: the 
    collection model is infinitely recursive and may only be used in 
    accordance with the documentation provide by CrossRef!

    2.0.1 (BDR) 10/25/01

    Added contributors as an optional element to journal_issue to allow
    for cases when a special issue of a journal has editors who may be
    listed when the entire issue is cited

    2.0.0 (BDR) 10/09/01

    First major release of version 2.0.0, based loosely on
    version 0.3 by Howard Ratner.

     ============================================================= -->
	<!-- =============================================================

          0. Include module common to multiple CrossRef schemas

     ============================================================= -->
	<xsd:include schemaLocation="common1.0.4.xsd"/>
	<!-- =============================================================

                          1. Shared attributes

     ============================================================= -->
	<!--               Moved to common.xsd for version 3.0.0           -->
	<!-- =============================================================

                     2. Schema-specific data types

     ================================================================= -->
	<!--               Moved to common.xsd for version 3.0.0           -->
	<!-- =============================================================

                          3. Header elements

     ================================================================= -->
	<!--      Most elements moved to common.xsd for version 3.0.0      -->
	<xsd:element name="doi_batch">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="head"/>
				<xsd:element ref="body"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" fixed="4.1.0"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="head">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="doi_batch_id"/>
				<xsd:element ref="timestamp"/>
				<xsd:element ref="depositor"/>
				<xsd:element ref="registrant"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- ===========================================================================
     The top level of the CrossRef deposit schema allows for the deposit of DOIs
     for journals (and their articles), books (and their chapters), conferences
     (and their conference papers). Also supported is the stand alone deposit of DOIs
     for components. However, all components must refer to a parent DOI either implicitly
     when the component is deposited a part of the work metadata (e.g. journal article), or
     explicitly when deposited as a stand alone level element <sa_component>
     directly under the <body> tag .

-->
	<xsd:element name="body">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="journal" maxOccurs="unbounded"/>
				<xsd:element ref="book" maxOccurs="unbounded"/>
				<xsd:element ref="conference" maxOccurs="unbounded"/>
				<xsd:element ref="sa_component" maxOccurs="unbounded"/>
				<xsd:element ref="dissertation" maxOccurs="unbounded"/>
				<xsd:element ref="report-paper" maxOccurs="unbounded"/>
				<xsd:element ref="standard" maxOccurs="unbounded"/>
				<xsd:element ref="database" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<!-- =============================================================

                          4. Journal elements

     ============================================================= -->
	<xsd:element name="journal">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="journal_metadata"/>
				<xsd:element ref="journal_issue" minOccurs="0"/>
				<xsd:element ref="journal_article" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="journal_metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="full_title" maxOccurs="10"/>
				<xsd:element ref="abbrev_title" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="issn" maxOccurs="6"/>
				<xsd:element ref="coden" minOccurs="0"/>
				<xsd:element ref="doi_data" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    The full title by which a journal is commonly known or cited.
    full_title and abbrev_title must both be submitted if they are identical.
 -->
	<xsd:element name="full_title">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    The abbreviated title(s) by which a journal is commonly cited.
    It is preferred, but not required, that periods be included after 
    abbreviated words within the title.
 -->
	<xsd:element name="abbrev_title">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="150"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="journal_issue">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:element ref="publication_date" maxOccurs="10"/>
				<xsd:element ref="journal_volume" minOccurs="0"/>
				<xsd:element ref="issue" minOccurs="0"/>
				<xsd:element ref="special_numbering" minOccurs="0"/>
				<xsd:element ref="doi_data" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    The container for the journal volume and DOI number assigned to an
    entire journal volume.
 -->
	<xsd:element name="journal_volume">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="volume"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    Issue level numbering for supplements or special issues.

    Text defining the type of special issue (e.g. "suppl") should 
    be included in this element along with the number.
 -->
	<xsd:element name="special_numbering">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    A journal article is required to have title and doi_data. All other 
    information is optional. When registering items that do not have 
    titles, use the appropriate heading from the journal section or 
    table of contents (e.g. "Errata") in title.

    journal_article allows for multiple titles per item. In some cases 
    it may be helpful to submit multiple titles. For example, if an 
    erratum carries title of the original article and the heading "Errata", 
    both should be submitted by using two titles elements.
 -->
	<xsd:element name="journal_article">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="titles" maxOccurs="20"/>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:element ref="publication_date" maxOccurs="10"/>
				<xsd:element ref="pages" minOccurs="0"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data"/>
				<xsd:element ref="citation_list" minOccurs="0"/>
				<xsd:element ref="component_list" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="publication_type.atts"/>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!-- =============================================================

                          5. Conference elements

     ============================================================= -->
	<!-- 
    conference is the core container for information about a single 
    conference and its proceedings.

    If a conference proceedings spans multiple volumes, each volume 
    must be contained in a unique conference element.
    -->
	<xsd:element name="conference">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:element ref="event_metadata"/>
				<xsd:element ref="proceedings_metadata"/>
				<xsd:element ref="conference_paper" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    event_metadata captures information about a conference event. Data 
    about conference proceedings is captured in proceedings_metadata.
    -->
	<xsd:element name="event_metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="conference_name"/>
				<xsd:element ref="conference_theme" minOccurs="0"/>
				<xsd:element ref="conference_acronym" minOccurs="0"/>
				<xsd:element ref="conference_sponsor" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="conference_number" minOccurs="0"/>
				<xsd:element ref="conference_location" minOccurs="0"/>
				<xsd:element ref="conference_date" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    conference_name does not include "Proceedings of". For example, 
    "The 23rd Annual Meeting of the American Society for Information Science" 
    is a correct conference name. It is quite common for a conference name to 
    include the conference number. When the number appears in the name, it 
    should be included in this element.
    -->
	<xsd:element name="conference_name">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="512"/>
				<xsd:minLength value="3"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    The theme is the slogan of the conference. It typically changes from 
    conference to conference, e.g. "Knowledge Innovations"
 -->
	<xsd:element name="conference_theme">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    The popularly known as or jargon name (e.g. SIGGRAPH for "Special 
    Interest Group on Computer Graphics").

    The conference acronym often includes the year of the conference 
    (e.g. SGML '97) or, less often, the conference number. It is preferred, 
    but not required, that submission of metadata exclude number or year 
    information from the conference acronym. It is better to include such 
    information in conference_number, or conference_date, respectively.
 -->
	<xsd:element name="conference_acronym">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="127"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    The sponsoring organization(s) of a conference. Multiple sponsors may be 
    given if a conference is hosted by more than one organization.
 -->
	<xsd:element name="conference_sponsor">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    conference_number should include only the number of the conference without 
    any extra text. For example, "The 24th Annual Conference on" should be 
    tagged as <conference_number>24</conference_number>, and "th" should not be 
    included.

    When a conference is named such that the year of the conference indicates 
    the number (e.g. "SGML 1994"), the year appears in conference_name, 
    conference_date, and conference_number, as in:

    <conference_name>SGML 1994</conference_name>
    <conference_acronym>SGML</conference_acronym>
    <conference_number>1994</conference_number>
    <conference_date start_day="07" start_month="11" start_year="1994" end_day="10"
         end_month="11" end_year="1994">November 7-10, 1994<conference_date>
 -->
	<xsd:element name="conference_number">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    The city and country of the conference. If the conference is in the United 
    States, the appropriate state should also be provided, and the country may 
    be omitted. The specific venue or address within a city (e.g. conference 
    center, hotel, etc.) should not be provided.
 -->
	<xsd:element name="conference_location">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    conference_date may be used in three ways:

    1. If publishers that do not have parsed date values, they provide just text 
    with the conference dates. The date text should be taken from the proceedings 
    title page. 

    2. If publishers do have parsed date values, they should provide them in the
     attributes.

    3. If both parsed date values and the date text are available, both should be 
    provided. This is the preferred tagging for conference_date. For example:

    <conference_date start_month="01" start_year="1997" start_day="15"
        end_year="1997" end_month="01" end_day="17">Jan. 15-17, 1997</conference_date>
 -->
	<xsd:simpleType name="conference_date_t">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="conference_date">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="conference_date_t">
					<xsd:attribute name="start_day" type="xrefDay" use="optional"/>
					<xsd:attribute name="start_month" type="xrefMonth" use="optional"/>
					<xsd:attribute name="start_year" type="xrefYear" use="optional"/>
					<xsd:attribute name="end_day" type="xrefDay" use="optional"/>
					<xsd:attribute name="end_month" type="xrefMonth" use="optional"/>
					<xsd:attribute name="end_year" type="xrefYear" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    proceedings_metadata captures information about conference proceedings. Data about 
    conference events is captured in event_metadata
 -->
	<xsd:element name="proceedings_metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="proceedings_title"/>
				<xsd:element ref="proceedings_subject" minOccurs="0"/>
				<xsd:element ref="publisher" maxOccurs="5"/>
				<xsd:element ref="publication_date" maxOccurs="10"/>
				<xsd:element ref="volume" minOccurs="0"/>
				<xsd:element ref="series_metadata" minOccurs="0"/>
				<xsd:element ref="isbn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="issn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="coden" minOccurs="0"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    The title of the conference proceedings as printed on title page of the published 
    conference proceedings.

    In some cases, proceedings_title may differ from conference_name only in that the 
    text "Proceedings of" often appears at the start of the proceedings_title, and it 
    this text should never be included in conference_name. In other cases, the 
    proceedings_title and conference_name may be quite different.
 -->
	<xsd:element name="proceedings_title">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="511"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    The subject of the printed conference proceedings, e.g. "Computer Graphics" is the 
    subject matter of SIGGRAPH.

    This element is useful because an author may cite a conference paper by the conference 
    subject. For example, "Proceedings of the 1999 ACM Conference on Computer Graphics".
 -->
	<xsd:element name="proceedings_subject">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    This element is useful because an author may cite a conference paper by the conference 
    subject. For example, "Proceedings of the 1999 ACM Conference on Computer Graphics"
 -->
	<xsd:element name="conference_paper">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contributors"/>
				<xsd:element ref="titles"/>
				<xsd:element ref="publication_date" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="pages" minOccurs="0"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data"/>
				<xsd:element ref="citation_list" minOccurs="0"/>
				<xsd:element ref="component_list" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="publication_type.atts"/>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!-- =============================================================

                          6. Book elements

     ============================================================= -->
	<!-- 
    book is the core container for information about a specific book. 
    Books may be in the form of edited books (i.e. a contributed volume with one or 
    more editors), monographs (single-authored works), or reference works (e.g. encyclopedias)

    If a book contains multiple volumes, each volume must be contained in a unique book element.

    You may chose to submit only top level contributors and book_metadata for any book, or 
    you may chose to submit these elements along with metadata for each content_item. A content 
    item is typically any item that is listed on the table of contents such as a chapter, 
    section, etc. It is not necessary to submit metadata for all items listed on the table of 
    contents. You may chose to drop items of lesser significance such as front and back matter.
 -->
	<xsd:element name="book">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="book_metadata"/>
				<xsd:element ref="content_item" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="book_type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="edited_book"/>
						<xsd:enumeration value="monograph"/>
						<xsd:enumeration value="reference"/>
						<xsd:enumeration value="other"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    The language of the book should be specified in the book_metadata language attribute. 
    If a book contains items in multiple languages this attribute should be set for the 
    predominant language of the book. Individual items may have their language specified 
    in the content_item. If all content items are the same language, it is only necessary 
    to specify the language of the book in this element.

    The contributors are the author(s) or editor(s) of the entire work. If a multi-volume 
    work has separate editors for each volume, those editors should be specified in this 
    element, and the series editors are listed in the series_metadata contributors.

    Books may have their title specified in one of two ways. For a monograph or single 
    volume work, you should use titles in book_metadata. If a work spans multiple volumes, 
    you should use titles in series_metadata. If a work spans multiple volumes with a unique 
    title for each volume and the whole series, you should specify the series title in 
    titles in series_metadata and the volume title in titles in book_metadata.

    Up to 6 titles or series_metadata may be used per book_metadata, however in practice 
    there should not be more than one series_metadata per book_metadata, and only in rare 
    situations should there be more than one titles per book_metadata.

    volume and edition_number, when given, should include only a number and not additional 
    text such as "volume" or "edition". For example, you should submit "3", not "third edition".

    For a monograph or single volume work, you should use isbn in book_metadata. If a work 
    spans multiple volumes, you should use isbn in series_metadata. If a work spans multiple 
    volumes with a unique ISBN for each volume and the whole series, you should specify the 
    series ISBN in sibn in series_metadata and the volume ISBN in isbn in book_metadata.

    publisher_item, when given, specifies this information for the entire book or volume. 
    This element also appears in content_item.

    doi_data is required for each book or volume that you submit. It is not possible to 
    submit DOI information for individual chapters without assigning a DOI to the entire work.

    citation_list should only be used in book_metadata instead of content_item when the reference
    list is a separate section of the book, and content_items are not included in the deposit
    (e.g. you are depositing a book with a bibliography, but not the chapters of the book)

    WARNING:  Care must be taken when submitting books with series. If a series title is 
    submitted and no book title is supplied but an ISBN is supplied at the book_metadata level 
    and not with the series title, the CrossRef system will index a series title with no ISBN 
    and an ISBN with no title. Please take care to associate the ISBN (or ISSN) at the correct 
    level of the XML hierarchy!
 -->
	<xsd:element name="book_metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:choice maxOccurs="6">
					<xsd:element ref="series_metadata"/>
					<xsd:element ref="titles"/>
				</xsd:choice>
				<xsd:element ref="volume" minOccurs="0"/>
				<xsd:element ref="edition_number" minOccurs="0"/>
				<xsd:element ref="publication_date" maxOccurs="10"/>
				<xsd:element ref="isbn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="issn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="publisher"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data" minOccurs="0"/>
				<xsd:element ref="citation_list" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    A content item is typically an item listed on the table of contents for a book. 
    There need not be a one-to-one correlation between content listings and content items 
    (e.g. you may choose not to register front and back matter items listed in the table 
    of contents).

    The language of a content_item only need be set if it differs from the language of book_metadata.

    The component_type indicates the type of content item you are registering.

    level_sequence_number indicates the level of nesting for content items. For example, 
    you may use it to indicate when one content item, such as a chapter, is actually 
    inside another content item, such as a section. Please see the example of a book 
    submission in this documentation for a better understanding of how this item may 
    be used in nested tables of contents.

    Note: Because the CrossRef schema uses a flat model to indicate hierarchically nested 
    content items, there is an implicit assumption that content items will be listed in the 
    CrossRef submission in the same order in which they appear in the table of contents. 
    Please follow this protocol when submitting DOI data.

    contributors for a content_item need not be listed if all items in a book have the same 
    contributors listed in book_metadata. In other words, contributors must be listed for 
    edited books, but they should not be listed for each content_item in a monograph. The 
    exception case is when a content item such as a Preface or Forward for a monograph has 
    a different author from that of the monograph. In this case, the contributors should be given.

    The title of each content item must be submitted. If, however, you are submitted data for 
    a monograph that simply has "Chapter 1", "Chapter 2", etc., you should put this information 
    in component_number, not titles.
 -->
	<xsd:element name="content_item">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:element ref="titles" minOccurs="0"/>
				<xsd:element ref="component_number" minOccurs="0"/>
				<xsd:element ref="publication_date" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="pages" minOccurs="0"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data"/>
				<xsd:element ref="citation_list" minOccurs="0"/>
				<xsd:element ref="component_list" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="component_type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="chapter"/>
						<xsd:enumeration value="section"/>
						<xsd:enumeration value="part"/>
						<xsd:enumeration value="track"/>
						<xsd:enumeration value="reference_entry"/>
						<xsd:enumeration value="other"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="level_sequence_number" default="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:positiveInteger">
						<xsd:maxInclusive value="9"/>
						<xsd:minInclusive value="1"/>
						<xsd:totalDigits value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attributeGroup ref="publication_type.atts"/>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!-- =============================================================

              7. Elements common to books and conferences

     ============================================================= -->
	<!-- 
    When a book or conference proceedings consists of multiple volumes, 
    series_metadata is used to describe information about the entire series.
 -->
	<xsd:element name="series_metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="titles"/>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:element ref="isbn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="series_number" minOccurs="0"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    The series number is different from the volume number. A volume number is expected 
    to be the number of a book in a physically printed set and typically appears in sequence. 
    The series number is not tied to the physical manifestation of the printed volume 
    and need not be strictly in sequence.

    This element is available in series_metadata, however it should only be used for 
    conference proceedings and not for books.
 -->
	<xsd:element name="series_number">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="15"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="publisher">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="publisher_name"/>
				<xsd:element ref="publisher_place" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    publisher_place gives the primary city location of the publisher. When the location 
    is a major city (e.g. New York, Amsterdam), no qualifying country or U.S. state need 
    be given. If the city is not a major city, the appropriate country or U.S. state 
    should be added.
 -->
	<xsd:element name="publisher_place">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    The name of the publisher of a book or conference proceedings.

    publisher_name is the imprint of the publication (what the author will likely cite), 
    not the organization registering the DOI, if for any reason they are different.
 -->
	<xsd:element name="publisher_name">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- =============================================================

       8. Elements common to journals, books and conferences

     ============================================================= -->
	<!-- 
    The next few elements allow an item to be tied to publisher internal
    identifiers. item_number and identifier are publisher-assigned numbers 
    that uniquely identify the item being registered.

    item_number should be used for identifiers based on publisher internal 
    standards. identifier should be used for identifiers based on a public standard.

    If the item_number and identifier are identical, there is no need to submit 
    both. In this case, the preferred element to use is identifier.

    item_number within publisher_item can be used to reduce the occurrence 
    of conflicts when the metadata for a DOI may not adequately distinguish the 
    DOI from that of another DOI. By setting the attribute to 
    <item_number item_number_type="sequence-number"> and by providing a unique 
    value for <item_number> the CrossRef system will not generate a deposit conflict. 
    Often it is acceptable to use the DOI or its suffix for this unique value.

    For more information see: http://www.crossref.org/02publishers/how_to_faq.html#Anchor-Dealin-60673
 -->
	<xsd:element name="publisher_item">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="item_number" minOccurs="0" maxOccurs="3"/>
				<xsd:element ref="identifier" minOccurs="0" maxOccurs="10"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    item_number is a publisher-assigned number that uniquely identifies the entity 
    being registered.
 
    item_number  should be used for identifiers based on publisher internal standards. 
    Use identifier for a publisher identifier that is based on a public standard such 
    as PII or SICI.
 
    If the item_number and identifier are identical, there is no need to submit both.
    In this case, the preferred element to use is identifier.
 
    Data may be alpha, numeric or a combination.
 
    item_number has an optional attribute, item_number_type. It is assigned by the 
    publisher to provide context for the data in item_number. If item_number contains 
    only a publisher's tracking number, this attribute need not be supplied. 
    If the item_number contains other data, this attribute can be used to define the content. 
    For example, if a journal is published online (i.e. it has no page numbers), and each
    article on the table of contents is assigned a sequential number, this article number
    can be placed in item_number, and the item_number_type attribute can be set to 
    "article_number". Although CrossRef has not provided a set of enumerated types for this 
    attribute, please check with CrossRef before using this attribute to determine if a 
    standard attribute has already been defined for your specific needs.

    If a dissertation DAI has been assigned, it should be deposited in the identifier 
    element with the id_type attribute set to "dai". If an institution has 
    its own numbering system, it should be deposited in item_number, and the 
    item_number_type should be set to "institution"

    If the report number of an item follows Z39.23, the number should be 
    deposited in the identifier element with the id_type attribute set to 
    "Z39.23". If a report number uses its own numbering system, it should be 
    deposited in the identifier element, and the id_type should be set to "report-number"

    The designation for a standard should be placed inside the identifier element with
    the id_type attribute set to "ISO-std-ref"
 
 -->
	<xsd:simpleType name="item_number_t">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="item_number">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="item_number_t">
					<xsd:attribute name="item_number_type" type="xsd:string" use="optional"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="identifier_t">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="identifier">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="identifier_t">
					<xsd:attribute name="id_type" use="required">
						<xsd:simpleType>
							<xsd:restriction base="xsd:NMTOKEN">
								<xsd:enumeration value="pii"/>
								<xsd:enumeration value="sici"/>
								<xsd:enumeration value="doi"/>
								<xsd:enumeration value="dai"/>
								<xsd:enumeration value="Z39.23"/>
								<xsd:enumeration value="ISO-std-ref"/>
								<xsd:enumeration value="report-number"/>
								<xsd:enumeration value="other"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<!-- =============================================================

      9. Expanded Content Types (reports, dissertations, standards, and datasets)

     ============================================================= -->
	<!--
    dissertation is the top level element for deposit of metadata about
    one or more dissertations.

    The dissertation element does not have publisher, or issn elements.
    It is expected that the dissertation element will be used for deposit of 
    items that have not been published in books or journals. If a dissertation
    is published as a book or within a serial, it should be deposited using 
    the top-level element for the appropriate publication type

    If a DAI has been assigned, it should be deposited in the identifier 
    element with the id_type attribute set to "dai". If an institution has 
    its own numbering system, it should be deposited in item_number, and the 
    item_number_type should be set to "institution"
-->
	<xsd:element name="dissertation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="person_name"/>
				<xsd:element ref="titles"/>
				<xsd:element ref="approval_date" maxOccurs="10"/>
				<xsd:element ref="institution" maxOccurs="6"/>
				<xsd:element ref="degree" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="isbn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data"/>
				<xsd:element ref="citation_list" minOccurs="0"/>
				<xsd:element ref="component_list" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="publication_type.atts"/>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!--
    report-paper is the top level element for deposit of metadata about
    one or more reports or working papers.

    component_list is included in report-paper to handle items that have
    components but do not have content_item elements (i.e. a report that is not
    divided into multiple chapters). If an item has content_item elements, then
    component_list inside of content_item must be used rather than the element
    available in report-paper
-->
	<xsd:element name="report-paper">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="report-paper_metadata"/>
				<xsd:choice>
					<xsd:element ref="content_item" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="component_list" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="publication_type.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!--
    report-paper_metadata is almost identical to book_metadata. It differs
    only in that report-paper_metadata removes the volume number and adds
    the elements institution and contract_number. Please see the comments
    for book_metadata about the usage of most elements in report-paper_metadata

    Reports and Working Papers are often sponsored by either universities
    or by a non-academic organization (corporate or government). Such
    institutions are not typically considered "publishers" and so the item
    may be deposited using the institution element. Multiple element instances
    are permitted so the sponsoring institution and publishing institution 
    can both be deposited as authors may cite either.

    If the report number of an item follows Z39.23, the number should be 
    deposited in the identifier element with the id_type attribute set to 
    "Z39.23". If a report number uses its own numbering system, it should be 
    deposited in item_number.
-->
	<xsd:element name="report-paper_metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:choice maxOccurs="6">
					<xsd:element ref="series_metadata"/>
					<xsd:element ref="titles"/>
				</xsd:choice>
				<xsd:element ref="edition_number" minOccurs="0"/>
				<xsd:element ref="publication_date" maxOccurs="10"/>
				<xsd:element ref="approval_date" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="isbn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="issn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="publisher" minOccurs="0"/>
				<xsd:element ref="institution" minOccurs="0" maxOccurs="5"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="contract_number" minOccurs="0"/>
				<xsd:element ref="doi_data" minOccurs="0"/>
				<xsd:element ref="citation_list" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!--
    standard is the top level element for deposit of metadata about standards

    CrossRef does not determine if a new DOI should be created for each revision or 
    reaffirmation of a standard. The decision will be left to the individual 
    standards organizations. 
    
    CrossRef recommends that the item_number element exclude the year from the 
    designation when depositing the DOI. For example, ISO/IEC 7498-4:1989 should
    be broken down into the following elements when deposited:
        <institution_acronym>ISO</institution_acronym>
        <institution_acronym>IEC</institution_acronym>
        <item_number item_number_type="designation">7498-4</item_number>
        <approval_date><year>1989</year></approval_date>

    component_list is included in standard to handle items that have
    components but do not have content_item elements (i.e. a standard that is not
    divided into multiple chapters. If an item has content_item elements, then
    component_list inside of content_item must be used rather than the element
    available in standard
-->
	<xsd:element name="standard">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="standard_metadata"/>
				<xsd:choice>
					<xsd:element ref="content_item" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="component_list" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref="publication_type.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!--
    standard_metadata is similar to book_metadata. It differs
    in that standard_metadata adds the elements institution and
    approval_date.

    contributors contains the author(s) of the standard. In most cases,
    it is expected that the organization element will be used rather than 
    person_name element for standards. However in some cases, standards are 
    cited by their individual authors. In such cases, individual authors
    should be deposited with person_name, and the SDO or consortia name should
    be deposited with the organization element in contributors and also
    the institution_name element in institution
    
    Note that when the organization element is used in contributors, it should
    have the name of the committee (when appropriate) that developed the standard,
    not the name of the Standards Development Organization (SDO) or consortia. 
    The SDO or consortia name should be placed in the publisher or institution 
    element (as appropriate)

    standards more often have version numbers than edition numbers. However 
    the edition_number element can be used for deposit of the version number of
    a standard

    approval_date should be used for the date that a standard has been accepted or
    re-affirmed if different from the date of publication. Both may be provided
    even if identical

    Within publisher_item, the designation should be placed inside the item_number 
    element, and the id_type should be set to "designation" to indicate a standard 
    designation

    Standards are typically sponsored or hosted by SDOs or Consortia. In some 
    cases standards are published by a traditional publisher rather than by 
    the owning organization. Such cases may be deposited with one or more 
    publishers as well as a hosting organization as in the following example:

    <institution>
         <institution_name>American National Standards Institute</institution_name>
         <institution_acronym>ANSI</institution_acronym>
        <institution_location>Washington, DC</institution_location>
    </institution>
    <institution>
         <institution_name>National Information Standards Organization</institution_name>
         <institution_acronym>NISO</institution_acronym>
        <institution_location>Bethesda, MD</institution_location>
    </institution>
    <publisher>
        <publisher_name>NISO Press</publisher_name>
        <publisher_place>Bethesda, MD</publisher_place>
    </publisher>
-->
	<xsd:element name="standard_metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:choice maxOccurs="6">
					<xsd:element ref="series_metadata"/>
					<xsd:element ref="titles"/>
				</xsd:choice>
				<xsd:element ref="volume" minOccurs="0"/>
				<xsd:element ref="edition_number" minOccurs="0"/>
				<xsd:element ref="publication_date" maxOccurs="10"/>
				<xsd:element ref="approval_date" maxOccurs="10"/>
				<xsd:element ref="isbn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="issn" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="publisher" minOccurs="0"/>
				<xsd:element ref="institution" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data" minOccurs="0"/>
				<xsd:element ref="citation_list" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!--
    Database structures allow for the assignment of DOIs to entire databases at 
    the aggregate level and at two lower levels.

    The top level may be a physical/functional database or a logical abstration 
    acting as a collection much the same as a journal is a collection of articles. 
    The need to assign specific fields of metadata at each level depends on the 
    nature of the top most level (e.g. publication date may be appropriate at the 
    top level for a physical object but only at lower levels for an abstract top 
    level object)
    
    The first sub-level is the <dataset> which may be a basic record of the top level 
    object or a collection in its own right. In either case <dataset> must represent a 
    physical construct. A third level is provided in the <component_list>. 
    
    NOTE: <component_list> in <database> (rather than in <dataset> may be used as a 
    second level when no third level is required and the second level objects derive 
    most of their qualities from the parent.

    NOTE: This model is not intended to show relationships between different dataset
    entries in the form of a relational database. However in the future it is possible
    that multiple resolution may be used to express such relationships
-->
	<xsd:element name="database">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="database_metadata"/>
				<xsd:choice>
					<xsd:element ref="dataset" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="component_list" minOccurs="0"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
    database_metadata contains information about the entire database

    contributors contains the author(s) of the database. In most cases,
    it is expected that the organization element will be used rather than 
    person_name element for the primary database authoring information.

    contributors should not be confused with publisher and institution. In
    many cases, databases are more likely to have one or both of the latter
    elements rather than contributors at the top level (dataset elements are
    more likely to have contributors). In most cases, the institution element
    may be the best choice to deposit the database host organization because
    it includes the institution_acronym element along with the name.

    The titles element is used to capture the name of the database
    
    database_date should be used to capture the date that a database was
    first created. Whenever updated records are deposited with CrossRef, the
    update_date should be set to the date of the most recent CrossRef deposit
    
    publisher_item may be used to record an identifying number for the database
    other than the DOI
-->
	<xsd:element name="database_metadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:element ref="titles"/>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:element ref="database_date" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="publisher" minOccurs="0"/>
				<xsd:element ref="institution" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="doi_data" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="language.atts"/>
		</xsd:complexType>
	</xsd:element>
	<!--
    The dataset element is used to capture information about one or more database
    records or collections. The dataset_type attribute should be set to either
    "record" or "collection" to indicate the type of deposit. The default value
    of this attribute is "record"

    dataset entries are not intended to contain the entire database record or
    collection. The are only intended to contain the metadata for each database
    record or collection. The metadata can include:

    contributors: the author(s) of a database record or collection
    titles: the title of a database record or collection
    database_date: the creation date, publication date (if different from the
        creation date) and the date of last update of the record
    publisher_item: the record number of the dataset item
    description: a brief summary description of the contents of the database
    format: the format type of the dataset item if it includes files rather
        than just text. Note the format element here should not be used to
        describe the format of items deposited as part of the component_list
    doi_data: the doi of the item.
    citation_list: a list of items (e.g. journal articles) cited by the dataset
        item. For example, dataset entry from a taxonomy might cite the article
        in which a species was first identified.
    component_list: a list of components included in the dataset item such as
        supporting figures
-->
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="contributors" minOccurs="0"/>
				<xsd:element ref="titles" minOccurs="0"/>
				<xsd:element ref="database_date" minOccurs="0" maxOccurs="10"/>
				<xsd:element ref="publisher_item" minOccurs="0"/>
				<xsd:element ref="description" minOccurs="0"/>
				<xsd:element ref="format" minOccurs="0"/>
				<xsd:element ref="doi_data"/>
				<xsd:element ref="citation_list" minOccurs="0"/>
				<xsd:element ref="component_list" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute name="dataset_type" default="record">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN">
						<xsd:enumeration value="record"/>
						<xsd:enumeration value="collection"/>
						<xsd:enumeration value="other"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!--
    database_date is used to record key dates in the life of a database or 
    dataset item. creation_date is the date the item was first createed, 
    publication_date is the date the item was first published, and update_date
    is the date the item was last updated.
-->
	<xsd:element name="database_date">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="creation_date" minOccurs="0"/>
				<xsd:element ref="publication_date" minOccurs="0"/>
				<xsd:element ref="update_date" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!--
    creation_date is the date a database or dataset item was created.
-->
	<xsd:element name="creation_date">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="date_t"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!--
    update_date is the date a database or dataset item was last updated.
-->
	<xsd:element name="update_date">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="date_t"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- =============================================================

        10. Elements common to reports, dissertations and standards

     ============================================================= -->
	<!-- 
    The institution element should be used to deposit metadata about an 
    organization that sponsored or hosted the research or development of 
    the published material but was not actually the publisher of the information.

    The institution is distinctly different from the publisher because
    it may not be a publishing organization. It is typically an organization
    such as a university, corporation, government agency, NGO or consortia.

    If the content was published by an organization other than the sponsor, the use
    of both the publisher and institution elements is encouraged because authors
    may cite either one in a reference, and the availability of both may allow
    for more precise matching in queries.
 -->
	<xsd:element name="institution">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="institution_name"/>
				<xsd:element ref="institution_acronym" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="institution_place" minOccurs="0" maxOccurs="6"/>
				<xsd:element ref="institution_department" minOccurs="0" maxOccurs="6"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- 
    The full name of the institution that sponsored or hosted research.
    Examples: World Health Organization; University of California, Davis
 -->
	<xsd:element name="institution_name">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="1024"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    The acronym of the institution. Note that authors often cite with acronyms and
    this information can be important in matching a query
    Examples: WHO, UCDavis, UCD
    Note, as shown above, an institution may be know by multiple acronyms, in which
    case all common acronyms should be deposited
 -->
	<xsd:element name="institution_acronym">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="1"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    institution_place gives the primary city location of the institution. When 
    the location is a major city (e.g. New York, Amsterdam), no qualifying 
    country or U.S. state need be given. If the city is not a major city, the 
    appropriate country and/or state or province should be added.
 -->
	<xsd:element name="institution_place">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!-- 
    institution_department gives the department within an institution. A common
    use is the department under which a dissertation was completed.
    Note that the institution_department is repeatable. If multiple departments
    are to be deposited, each one should be given in a unique institution_department
    element.
    Example: Department of Psychology
 -->
	<xsd:element name="institution_department">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!--
    approval_date is the date on which a dissertation was accepted by the
    institution awarding the degree, or a standard was accepted.

    approval_date includes the same elements as publication_date, but it has
    no attributes. It is a distinct element from publication_date to reflect 
    that an important but different semantic meeting from publication_date
 -->
	<xsd:element name="approval_date">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="date_t"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!--
    The degree(s) awarded for the dissertation.
    Examples: MA, MS, PhD,
 -->
	<xsd:element name="degree">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<!--
    The contract number under which a report or paper was written
 -->
	<xsd:element name="contract_number">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:maxLength value="255"/>
				<xsd:minLength value="2"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
